.btn {
    width: 100%;
    padding: 15px 40px;
    border-radius:15px;
    border: none;
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 5px 20px hsl(224, 23%, 55%);
}

.btn:hover {
    background-color: hsl(245, 75%, 60%);
}